.DS_Store
/2025-02-18/Storefront/.idea
2025-02-18/Storefront/Storefront.Api/obj
2025-02-18/Storefront/Storefront.Api/bin
/2025-02-25/Storefront/.idea
2025-02-25/Storefront/Storefront.Api/bin/
2025-02-25/Storefront/Storefront.Api/obj
/2025-03-11/Storefront/.vs
/2025-03-11/Storefront/Storefront.Api/bin/Debug/net8.0
/2025-03-11/Storefront/Storefront.Api/obj
/2025-03-11/Storefront/Storefront.Api/Storefront.Api.csproj.user
/2025-03-11/Storefront/Storefront.Persistence/bin/Debug/net8.0
/2025-03-11/Storefront/Storefront.Persistence/obj
/2025-03-18/Storefront/.vs
/2025-03-18/Storefront/Storefront.Api/bin
/2025-03-18/Storefront/Storefront.Api/obj
/2025-03-18/Storefront/Storefront.Api/Storefront.Api.csproj.user
/2025-03-18/Storefront/Storefront.Persistence/bin
/2025-03-18/Storefront/Storefront.Persistence/obj
/2025-03-18/Storefront/Storefront.Api.Contracts/bin
/2025-03-18/Storefront/Storefront.Api.Contracts/obj
/2025-03-18/Storefront/Storefront.Services/bin
/2025-03-18/Storefront/Storefront.Services/obj
2025-03-18/Storefront/.idea/.idea.Storefront/.idea/indexLayout.xml
2025-03-18/Storefront/.idea/.idea.Storefront/.idea/vcs.xml
